<section class="footer">
  <footer>
    <p>Copyright &copy; FFF</p>
    <p>Made by Dorian Deptuch</p>
    <a href="https://github.com/DorianDeptuch">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </footer>
</section>
