<section class="nav">
  <nav>
    <ul>
      <li>
        <a href="/"
          ><div class="home-link">
            <h3>Fur</h3>
            <h3>Friends</h3>
            <h3>Forever</h3>
          </div></a
        >
      </li>
      <li><a href="/catalog/dogs">Dogs</a></li>
      <li><a href="/catalog/breeders">Breeders</a></li>
      <li><a href="/catalog/breeds">Breeds</a></li>
      <li><a href="/catalog/locations">Locations</a></li>
      <li><a href="/catalog/dog/create">Create new Dog</a></li>
      <li><a href="/catalog/breeder/create">Create new Breeder</a></li>
      <li><a href="/catalog/breed/create">Create new Breed</a></li>
      <li><a href="/catalog/location/create">Create new Location</a></li>
    </ul>
  </nav>
</section>
