<section class="nav">
  <nav>
    <ul>
      <li>
        <a href="/"
          ><div class="home-link">
            <h3>Fur</h3>
            <h3>Friends</h3>
            <h3>Forever</h3>
          </div></a
        >
      </li>
      <li><a href="/catalog/dogs">Dogs</a></li>
      <li><a href="/catalog/breeders">Breeders</a></li>
      <li><a href="/catalog/breeds">Breeds</a></li>
      <li><a href="/catalog/locations">Locations</a></li>
      <li><a href="/catalog/create">Create </a></li>
    </ul>
  </nav>
</section>
